# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Config (Local settings)
config.json
history_log.json

# Screenshots and Duplicates
_Screenshots/
_Duplicates/
_LivePhotos/
No_Date/
Photos/
Videos/

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
.venv
env/
venv/
